In [4]:
import pandas as  pd


data  = pd.read_csv("data/houses-for-sale (1).csv")

In [2]:
data.head()

,title,location,size,selling price
0,6 Bed Villa with En Suite at Kiambu Road,Kiambu Road,"6bdrm Mansion in Mushroom Estate, Kiambu / Kia...","KSh 130,000,000"
1,4 Bed Townhouse with En Suite at Off Kiambu Road,"Off Kiambu Road, Kiambu Road",4 Bedroom with DSQ for Sale,"KSh 26,950,000"
2,4 Bed Villa with En Suite at Masai Lodge Road,"masai lodge road, Ongata Rongai",New modern villa for sale.,"KSh 16,000,000"
3,5 Bed House with En Suite in Ngong Road,Ngong Road,5 Bedroom Town House For Sale In Kilimani,"KSh 45,000,000"
4,5 Bed Townhouse with En Suite in Lavington,Lavington,Modern 5 Bedroom Townhouse For Sale,"KSh 72,000,000"

In [6]:
data.head()

,title,location,size,selling price
0,6 Bed Villa with En Suite at Kiambu Road,Kiambu Road,"6bdrm Mansion in Mushroom Estate, Kiambu / Kia...","KSh 130,000,000"
1,4 Bed Townhouse with En Suite at Off Kiambu Road,"Off Kiambu Road, Kiambu Road",4 Bedroom with DSQ for Sale,"KSh 26,950,000"
2,4 Bed Villa with En Suite at Masai Lodge Road,"masai lodge road, Ongata Rongai",New modern villa for sale.,"KSh 16,000,000"
3,5 Bed House with En Suite in Ngong Road,Ngong Road,5 Bedroom Town House For Sale In Kilimani,"KSh 45,000,000"
4,5 Bed Townhouse with En Suite in Lavington,Lavington,Modern 5 Bedroom Townhouse For Sale,"KSh 72,000,000"

In [7]:
data.tail()

,title,location,size,selling price
1871,5 Bed House with En Suite at Nandi Road,"Nandi road, Karen",5 BEDROOM HOUSE FOR SALE IN KAREN NAIROBI KENYA,"KSh 199,000,000"
1872,4 Bed House with En Suite in Kitengela,Kitengela,4 Bedroom Maisonette for Sale in Kitengela EPZ...,"KSh 16,000,000"
1873,4 Bed House with En Suite in Syokimau,Syokimau,4 BEDROOMS MAISONETTE IN SYOKIMAU.,"KSh 13,800,000"
1874,4 Bed Townhouse with Garden in Lavington,Lavington,4 bedroom townhouse for sale in Lavington,"KSh 79,000,000"
1875,3 Bed House with En Suite at Kimbo Matangi,"Kimbo Matangi, Ruiru",READY AFFORDABLE BUNGALOWS ON OFFER,"KSh 7,800,000"

In [9]:
data.shape

(1876, 4)

In [10]:
data.describe()

,title,location,size,selling price
count,1876,1876,1876,1876
unique,1164,710,1770,293
top,5 Bed Townhouse with En Suite in Lavington,Lavington,5 BEDROOM HOUSE FOR SALE IN KAREN NAIROBI KENYA,"KSh 65,000,000"
freq,45,150,8,48

In [12]:
data.isna().sum()

data.

title            0
location         0
size             0
selling price    0
dtype: int64